.clients {
    // padding-top: 94px;
    // padding-bottom: 94px;
    &-soc-link {
      // width: 170px;
      height: 92px;
      @extend %align-list;
      justify-content: center;
      fill: #afb1b8;
      border: 1px solid #afb1b8;
      border-radius: 4px;
      transition: fill 250ms var(--main-cub);
      &:hover,
      &:focus {
        fill: var(--accent-color);
        border: 1px solid var(--accent-color);


      }
    }
  }
  
 
  
  .clients-list {
    justify-content: center;
    @extend %align-list;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    
  }
  
.clients-empty-li {
  @media screen and (min-width: 480px) {
    // width: calc((100% - 30px) / 2);
    width: 210px;
  }

  @media screen and (min-width: 768px)  {
    // width: calc((100% - 60px) / 3);
    width: 226px;
  }

  @media screen and (min-width: 1600px)  {
    // width: calc((100% - 150px) / 6);
    width: 170px;
  }
}