.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

 @include retina {
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/heromob2x.jpg");
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),
  url("../images/heromob2x.jpg");
  @include retina {
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/heromob2x.jpg");
}
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/herotabl2x.jpg");
    @include retina {
      background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/herotabl2x.jpg");
  }
  }


  @include desktop {
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-image.jpg");
    @include retina {
      background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/herodesktop.jpg.jpg");
  }
  }
}




.hero__title {
  @include font(900, 44px, 1.36, 0.06em);
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;

    @media screen and (min-width: 480px) and (max-width: 1599px) {
      @include font(900, 26px, 1.36, 0.06em);
      max-width: 360px;
    }
  }
  

  

  
  .title {
    @include font(700, 36px, 1.16, 0.03em);
    text-align: center;
    color: #212121;
      margin-bottom: 50px;

      @media screen and (max-width: 1599px) {
        @include font(700, 28px, 1.17, 0.03em);
        margin-bottom: 30px;
      }
  }
  
  .item {
    @include font(null, 14px, 1.71, 0.03em);
    color: #757575;
  }
  
  .picture-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .picture-list__item {
    width: 100%;

    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1600px) {
      width: calc((100% - 90px) / 4);
    }
  }
  
 
  
  .benefits__item {
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: #212121;
    padding-bottom: 10px;
    align-items: baseline;

    @media screen and (max-width: 767px) {
      display: flex;
    justify-content: center;
    }

  }
  
  .benefits__text {
    @include font(null, 14px, 1.71, 0.03em);
    color: #757575;
    // max-width: 270px;
  }

  .benefits__icon-container {
    width: 270px;
    height: 120px;
    justify-content: center;
    @extend %align-list;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;

    @media screen and (max-width: 1599px) {
      width: 100%;
    }
  }



  .doing {
    display: flex;
    gap: 30px;
    &-title {
      @media screen and (max-width: 1599px) {
        display: none;
      }
    }
    &-thumb {
      position: relative;
      height: 294px;
    }
  
}

  
  .doing-thumb-item {
    @include font(700, 14px, 16px, 0.03em);
    text-transform: uppercase;
    color: var(--main-color);
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  justify-content: center;
  @extend %align-list;
  bottom: 0;
  right: 0;

  }
